Package: com.axlebolt.standoff2
Name: Standoff 2 Mod Menu
Depends: mobilesubstrate
Version: 0.18.5
Architecture: iphoneos-arm
Description: Standoff 2 Mod Menu by Softerov!
Maintainer: Softerov
Author: Softerov
Section: Tweaks
Homepage: ng
// By @Softerov